@model LoginModel

@{
    ViewBag.Title = "Iniciar";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/site.css">
<!------ Include the above in your HEAD tag ---------->

<form method="post">
    <div class="container login-box">
        <div class="row justify-content-center"> <!-- Centrar el contenido horizontalmente -->
            <div class="col-md-6 login-header">Login</div>
        </div>
        <div class="row justify-content-center"> <!-- Centrar el contenido horizontalmente -->
            <div class="col-md-6">
                <div class="login-body">
                    <div class="form-group">
                        <span asp-validation-for="Usuario" class="text-danger"></span>
                        <input asp-for="Usuario" class="form-control" placeholder="Usuario" type="text" />
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="Clave" class="text-danger"></span>
                        <input asp-for="Clave" class="form-control" placeholder="Password" type="password" />
                    </div>
                    <div class="text-center"> <!-- Centrar el botón -->
                        <input type="submit" value="Log in" class="btn btn-success" asp-action="Login" asp-controller="Cuenta" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<style>
    .login-box {
        max-width: 400px; /* Ajusta el ancho máximo a tu preferencia */
        margin: 0 auto;  /* Centrar el contenedor horizontalmente */
        padding: 20px;    /* Agregar espacio alrededor del formulario */
    }
</style>
