.login-box
{
  height: 50%;
  width: 30%;
  border: 1px solid grey;
  position: relative;
  box-shadow: 21px 12px 24px 10px rgba(0, 0, 0, .5);
  background: #dadada;
  max-width: 400px; /* Ajusta el ancho máximo a tu preferencia */
  margin: 0 auto;  /* Centrar el contenedor horizontalmente */
  padding: 20px;    /* Agregar espacio alrededor del formulario */
}
.login-header
{
  text-align: center;
  font-family: "vardhana",cursive;
  font-size: 35px;
  background: linear-gradient(to bottom, #00bfff 0%, #0000ff 100%);
  color:#fff;
  position: relative;
  box-shadow: 1px 3px 14px  rgba(0, 0, 0, .5);
}
.login-body
{
  padding: 20px;
  line-height: 2;
}




html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}